<div dir="rtl">
  <h2 md-dialog-title>ورود به سامانه</h2>
  <md-dialog-content>

  </md-dialog-content>
  <form>
    <md-form-field>
      <input mdInput placeholder="نام کاربری" name="username" [(ngModel)]="username"/>
    </md-form-field>
    <md-form-field>
      <input type="password" mdInput placeholder="کلمه عبور" name="password" [(ngModel)]="password" />
    </md-form-field>  
  </form>
  <md-dialog-actions>
    <button md-button md-dialog-close>انصراف</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button md-button (click)="onLogin()">ورود</button>
  </md-dialog-actions>

</div>
