<div dir="rtl">
  <p md-dialog-title>ورود به سامانه</p>
  <md-dialog-content>
    <form>
      <md-form-field>
        <input mdInput placeholder="نام کاربری" name="username" [(ngModel)]="username" />
      </md-form-field>
      <md-form-field>
        <input type="password" mdInput placeholder="کلمه عبور" name="password" [(ngModel)]="password" />
      </md-form-field>
    </form>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-raised-button (click)="onLogin()" color="primary">ورود</button>
    <button md-button md-dialog-close>انصراف</button>
  </md-dialog-actions>

</div>
