<div dir="rtl">
  <p md-dialog-title></p>
  <md-dialog-content>
    <form>
      <md-form-field>
        <input mdInput placeholder="نام کاربری" name="username" />
      </md-form-field>
      <md-form-field>
        <input type="password" mdInput placeholder="کلمه عبور" name="password" />
      </md-form-field>
    </form>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-raised-button color="primary">ورود</button>
    <button md-button md-dialog-close>انصراف</button>
  </md-dialog-actions>
</div>